<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['/NASA']" routerLinkActive="active">API NASA</a>
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['/ATMOSFERICA']" routerLinkActive="active">API ATMOSFERICA</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#" routerLinkActive="active">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#" routerLinkActive="active">Disabled</a>
</nav>
<router-outlet></router-outlet>